/*===================================================================================*/
/*===================================================================================*/
/*  Orange Color
/*===================================================================================*/
/* Typography */
/*===================================================================================*/
/*  COLOR LESS
/*===================================================================================*/
/*d75f33*/
/*cb5a30*/

/*
zlta ffdb01
modra 6bd1d3
*/

/*
ADDITIONAL CSS
*/


@import url('https://fonts.googleapis.com/css?family=Oswald:400,700,300&subset=latin,latin-ext');

@import url('https://fonts.googleapis.com/css?family=Lato:400,300italic,700,900&subset=latin,latin-ext');

@font-face {
    font-family: Montserrat;
    src: url(http://tkjhr.sk/fonts/Montserrat-Semibold.otf);
}

body {
    font-family: 'Montserrat' , sans-serif !important;
  line-height: 24px;
  color: #999999;
  font-size: 14px;

}

.category-list li {
  text-transform: uppercase;
    font-family: 'Montserrat' , sans-serif !important;
  margin-bottom: 10px;
}

header.module-header:after {
    content: url(http://tkjhr.sk/images/prekrytie.png);
    position: absolute;
    top: -2px;
    right: 13px;
}

/*
ADDITIONAL CSS END
*/



.primary-color {
  color: #ffdb01;
}
.logo-color {
  fill: #ffdb01;
}
a,
a:hover,
a:focus,
a:active {
  color: #6bd1d3;
}
.logo-fill-1 {
  fill: #f27923;
}
.logo-fill-2 {
  fill: #f48b40;
}
.logo-fill-3 {
  fill: #faccab;
}
::-moz-selection {
  background-color: #ffdb01;
}
::selection {
  background-color: #ffdb01;
}
.primary-bg {
  background-color: #ffdb01;
}
.btn-primary {
  background-color: #ffdb01;
  border-color: #ffdb01;
  /*color:black;*/
}
.header .navbar-top-bar .navbar-nav > li.active > a {
  color: #ffdb01;
}
.header .navbar-top-bar .navbar-nav > li > a:hover,
.header .navbar-top-bar .navbar-nav > li > a:focus {
  color: #ffdb01;
}
.header .navbar-default .navbar-nav li.active a.hover,
.header .navbar-default .navbar-nav li.active a.focus {
  color: #ffdb01;
}
.header .navbar-default .navbar-nav > li a:hover,
.header .navbar-default .navbar-nav > li a:focus {
  color: #ffdb01;
}
.module .module-title {
  color: #ffdb01;
}
.page-header .page-title {
  color: #6bd1d3;
}
.section-title {
  color: #ffdb01;
}
.brand-carousel .item {
  color: #ffdb01;
}
.book-details .book-title a {
  color: #ffdb01;
}
#my-cart .module-heading h4 {
  color: #ffdb01;
}
#my-cart .module .module-body .order-detail .table-cart > tbody > .cart-book .media .media-heading a {
  color: #ffdb01;
}
#my-cart .module .module-body .order-detail .table-cart > tfoot > tr:last-child {
  color: #ffdb01;
}
#my-cart .module .module-body .order-detail .table-cart > tfoot > tr:nth-child(2) {
  color: #ffdb01;
}
.book-detail-header .book-title {
  color: #ffdb01;
}
.book-detail-header .book-author-name {
  color: #ffdb01;
}
.navbar-nav .dropdown-menu .menu-header {
  color: #ffdb01;
}
.block-featured-author .module-title {
  color: #ffdb01;
}
.block-featured-author .module-body .author-details .author-name a {
  color: #ffdb01;
}
.star-rating .fa-star.color {
  color: #ffdb01;
}
.home.page .slider {
  background: #ffdb01;
}
.btn-navigation:hover,
.btn-navigation:focus {
  background: #ffdb01;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: #ffdb01;
  border: 1px solid #6bd1d3;
}
.breadcrumb-container {
  background: #6bd1d3;
}
.breadcrumb > li + li:before {
  color: #be560b;
}
#search .form-control,
#notFound-search .form-control {
  background: #6bd1d3;
  border: #6bd1d3;
}
#search .btn-search,
#notFound-search .btn-search {
  background: #d4600d;
  border: #d4600d;
}
#search .select-wrapper button,
#notFound-search .select-wrapper button {
  background: #d4600d;
  border: #d4600d;
}
.form-control::-moz-placeholder {
  color: #f4924c;
}
.form-control::-webkit-input-placeholder {
  color: #f4924c;
}
.book-detail-quantity .txt-quantity {
  background: #ffbd00;
}
.book-detail-quantity .quant-input .arrow.plus {
  background: #ffbd00;
}
.book-detail-quantity .quant-input .arrow.plus:hover {
  background: #ffbd00;
}
.book-detail-quantity .quant-input .arrow.minus {
  background: #ffbd00;
}
.book-detail-quantity .quant-input .arrow.minus:hover {
  background: #ffbd00;
}
.btn-primary-dark {
  background: #d4600d;
}
.btn-primary-light {
  background: #6bd1d3;
}
.btn-primary-light:hover,
.btn-primary-light:focus {
  background: #d4600d;
}
.book-additional-details .book-detail-tab {
  background: #d4600d;
}
.book-detail-tab li.active a,
.book-detail-tab li.active a:hover,
.book-detail-tab li.active a:focus,
.book-detail-tab li a:hover,
.book-detail-tab li a:focus {
  background: #ab4d0a;
}
.subscribe-form .subscriber-name {
  background: #6bd1d3;
  border: #6bd1d3;
}
.navbar-footer .navbar-inner-text {
  color: #6bd1d3;
}
.btn.dropdown-toggle.btn-default {
  background: #6bd1d3;
  border: #6bd1d3;
}
.bootstrap-select.btn-default:hover,
.bootstrap-select.btn-default:focus,
.bootstrap-select.btn-default:active,
.bootstrap-select.btn-default.active,
.bootstrap-select.open .dropdown-toggle.btn-default {
  background: #6bd1d3;
  border: #6bd1d3;
}
.header .navbar-default .btn-cart:hover,
.header .navbar-default .btn-cart:focus {
  background: #ffdb01;
}
.navbar-footer .navbar-nav > li ul.language-block button:hover,
.navbar-footer .navbar-nav > li ul.language-block button:focus {
  background: #ffdb01;
  border: #ffdb01;
}
#accordion .panel-default .panel-title > a:not(.collapsed) .step {
  background: #d25f0c;
}
.input-group .input-group-addon-book {
  background: #6bd1d3;
  border: #6bd1d3;
}
.book-radio:checked + label .radio-background .icon {
  color: #d25f0c;
}
.panel-collapse .forgot-password a {
  color: #d4600d;
  border-bottom: 1px dotted #d4600d;
}
.table-cart.cart-detail th.dark {
  background: #6bd1d3;
}
.table-cart.cart-detail th {
  background: #6bd1d3;
}
.table-cart .quant-input .arrow.gradient {
  background: #6bd1d3;
}
.table-cart .quant-input .arrow.gradient:hover {
  background: #ffdb01;
}
.table-cart .txt-quantity,
.table-cart > tbody .price.subtotal {
  color: #6bd1d3;
}
.table-cart tfoot tr:last-child {
  color: #ffdb01;
}
.sidebar .module .module-header {
  background: #ffdb01;
}
.category-list > li > ul > .active,
.category-list > .sub-category-list > a {
  color: #6bd1d3;
}
#owl-main .owl-controls .owl-pagination .owl-page span {
  background: #f8b484;
}
#owl-main .owl-controls .owl-pagination .owl-page.active span {
  background: #fdefe5;
}
.author-details .author-name > a:hover,
.author-details .author-name > a:focus {
  color: #d6610d !important;
}
.book-details .book-title a:hover,
.book-details .book-title a:focus {
  color: #d6610d;
}
.footer-widgets .module .module-body .list-link a:hover,
.footer-widgets .module .module-body .list-link a:focus {
  color: #ffdb01;
}
.navbar-static-bottom #example li a:hover,
.navbar-static-bottom #example li a:focus {
  color: #ffdb01;
}
.book .book-cover:hover {
  background: #ffdb01;
}
.list-kybook > li:before {
  background-color: #facdad;
}
#owl-main .item {
  background: #ffdb01;
}
.slider-caption .btn-price {
  -moz-box-shadow: 0px 3px #d6610d;
  -webkit-box-shadow: 0px 3px #d6610d;
  box-shadow: 0px 3px #d6610d;
}
.selectpicker.dropdown-menu > li > a:hover,
.selectpicker.dropdown-menu > li > a:focus {
  color: #ffdb01;
}
.grid-list-view-buttons li.active span,
.grid-list-view-buttons li.active span:hover {
  color: #6bd1d3;
}
.grid-list-view-buttons li a span:hover,
.grid-list-view-buttons li a span:focus {
  color: #6bd1d3;
}
.book-pagination .active a,
.book-pagination .active a:hover,
.book-pagination .active a:focus,
.book-pagination > li > a:hover,
.book-pagination > li > a:focus {
  background: #ffdb01;
  border: 1px solid #ffdb01;
}
.scrollup {
  background: #ffdb01;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: url("images/ui-bg_glass_75_d75f33_1x400.png") repeat-x scroll 50% 50% #6bd1d3 !important;
  border: #6bd1d3 !important;
}
.ui-widget-header {
  background: url("images/ui-bg_highlight-soft_75_d75f33_1x100.png") repeat-x scroll 50% 50% #6bd1d3 !important;
}
.table-cart > tbody .price.subtotal {
  color: #6bd1d3;
}
.btn-flat:hover,
.btn-flat:focus {
  background: #d4600d !important;
}
.index-dropdown-discount-name {
  color: #ffdb01;
}


/*
DODATOCNE CSS
*/

.btn-primary {
  min-width: 208px;
  height: 64px;
  background-image: url(http://tkjhr.sk/images/yellow_button.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 208px 64px;
  background-position: right 0px;
  border: 0px;
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 21px;

}


.btn-primary:hover,
.btn-primary:focus {

  border: 0px;
  min-width: 208px;
  height: 64px;
  background-image: url(http://tkjhr.sk/images/dark_button.png);
   background-repeat: no-repeat;
  background-color: transparent !important;
  background-size: 208px 64px;
   background-position: right 0px;
  border: 0px;
  padding-top: 20px;
  box-shadow: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 21px;
  transition: background-image 0.5s ease;
}


.header .navbar-default .navbar-nav > li > a {
  color: #ece8e4;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 22px;
  font-family: 'Oswald', sans-serif;
  background-image: url(http://tkjhr.sk/images/playstation-nav-dark.png)!important;
  width: 191px;
  height: 60px;
  margin-right: 16px;
  margin-top: -21px;
  padding-top: 20px;
}

.header .navbar-default .navbar-nav > li a:hover, .header .navbar-default .navbar-nav > li a:focus {
  color: #483f38;
  background-image: url(http://tkjhr.sk/images/playstation-nav-yellow.png)!important;
  transition: background-image 0.5s ease;
}


.header .navbar-default .navbar-nav > li.active > a {
  color: #463f39;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  background-image: url(http://tkjhr.sk/images/playstation-nav-yellow.png)!important;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}


input.btn.btn-primary{
  color: #ece8e4;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 22px;
  font-family: 'Oswald', sans-serif;
  background-image: url(http://tkjhr.sk/images/playstation-nav-dark.png)!important;
  width: 191px;
  height: 60px;
  margin-right: 16px;
  margin-top: -21px;
  padding-top: 20px;
}

input.btn.btn-primary:hover,
input.btn.btn-primary:active,
input.btn.btn-primary:focus{
  color: #463f39;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 22px;
  font-family: 'Oswald', sans-serif;
  background-image: url(http://tkjhr.sk/images/playstation-nav-yellow.png)!important;
  width: 191px;
  height: 60px;
  margin-right: 16px;
  margin-top: -21px;
  padding-top: 20px;
  transition: background-image 0.5s ease;
}

.page-header .page-title {
  color: #6bd1d3;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  line-height: 48px;
}



h4.module-book-category-title {
  font-family: 'Oswald', sans-serif;
}

.btn-addToCart {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px !important;
  padding: 10px 20px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: left;
  height: 64px;
  padding-top: 20px;
  box-shadow: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 21px;
  margin-left: 19px;
}

.btn-checkout,
button.btn.btn-primary.btn-block {

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 17px 44px;
  margin-top: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
  width: 343px;
  background-image: url(http://tkjhr.sk/images/add-dark.png) !important;
  background-size: 330px 60px !important;
  height:60px !important;
  background: no-repeat;

}

.btn-checkout:hover,
.btn-checkout:active,
button.btn.btn-primary.btn-block:hover,
button.btn.btn-primary.btn-block:active{

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 17px 44px;
  margin-top: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
  width: 343px;
  background-image: url(http://tkjhr.sk/images/add-yellow.png) !important;
  background-size: 330px 60px !important;
  height:60px !important;
  background-position: right 0px;
  background-color: transparent;
  background: no-repeat;
  transition: background-image 0.5s ease;


}

button.btn.btn-primary.btn-block {
  margin: 0 auto;
}

button.btn.btn-primary.btn-block:active,
button.btn.btn-primary.btn-block:hover {
  margin: 0 auto;
  transition: background-image 0.5s ease;
}

.book {
  width: 193px !important;
}

.book-cover.book.detail-book-cover {
    width: 304px !important;
}
h3.book-title {
  height: 93px !important;
}


h2.page-title {
    -webkit-animation: bounce 1.2s ease-out;
    -moz-animation: bounce 800ms ease-out;
    -o-animation: bounce 800ms ease-out;
    animation: bounce 1.2s ease-out;
}

h2.book-title
{
    -webkit-animation: bounce 1.2s ease-out;
    -moz-animation: bounce 800ms ease-out;
    -o-animation: bounce 800ms ease-out;
    animation: bounce 1.2s ease-out;
}


.list-kybook > li > a {
  color:#6bd1d3;
}

img.front-page-image {
  max-width: 400px;
}



@media (max-width: 767px) {
  .header .navbar-default .navbar-nav > li > a {
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 20px;
  }

  img.front-page-image {
    max-width: 350px;
  }
}

@media (max-width: 991px) {
    div#searchBtnDiv {
        margin-top: 50px;
        text-align: center;
    }
}

